<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}

    <title>Bingo card generator</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Bingo card generator</h1>

            <p>Use this bingo card generator to generate custom bingo cards for shiny hunting in Pokemon.</p>
            <p>Features to be added in the future:</p>
            <ul>
                <li>custom bingo size</li>
                <li>option for free middle square</li>
                <li>option for shiny/normal sprite</li>
                <li>option for sprites from other generations</li>
                <li>option for custom images</li>
                <li>option for more than one Pokemon per square</li>
                <li>randomizing the square positions</li>
                <li>randomly choosing Pokemon</li>
            </ul>

            <p><i>This is a Work in Progress, come back when I have finished this!</i></p>

            {% include 'includes/footer.html' %}
        </div>
    </div>
</body>
</html>