<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <script type="text/javascript" src="static/scripts/connect4.js"></script>
    <link rel="stylesheet" href="static/stylesheets/connect4.css"/>

    <title>Connect 4 xtreme | Lekkerveld</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">

            <div id="game-field"></div>
            <hr>

            <!-- game info -->
            <h4>Game info</h4>
            <div class="horizontal-container">
                <div class="horizontal">
                    <div id="player">Current player</div>
                </div>
                <div class="horizontal">
                    <div id=timer>00:00</div>
                </div>
                <div class="horizontal">
                    <button onclick="reset_game()" id="reset">reset game</button>
                </div>
                <div class="horizontal">
                    <div id="notifications"></div>
                </div>
                <div class="horizontal">
                    <button onclick="changeBoardSize()">Toggle board size</button>
                </div>
            </div>
            <hr>

            <!-- variables -->
            <h4>Game options</h4>
            <p><i>Note: changing any of these will immediately reset the board.</i></p>
            <div class="horizontal-container">
                <div class="horizontal">
                    <p>No. rows: </p>
                    <input id="amount_of_rows" type="number" min="1" value="6">
                </div>
                <div class="horizontal">
                    <p>No. columns: </p>
                <input id="amount_of_columns" type="number" min="1" value="7">
                </div>
                <div class="horizontal">
                    <p>No. players (max 11): </p>
                <input id="playerCount" type="number" min="1" max="11" value="2">
                </div>
                <div class="horizontal">
                    <p>Win amount: </p>
                    <input id="winAmount" type="number" min="1" value="4">
                </div>
                <div class="horizontal">
                    <input type="checkbox" name="horizontal-check" id="horizontal-check" checked>
                    <label for="horizontal-check">horizontal</label><br>
                    <input type="checkbox" name="vertical-check" id="vertical-check" checked>
                    <label for="vertical-check">vertical</label><br>
                    <input type="checkbox" name="diagonal1-check" id="diagonal1-check" checked>
                    <label for="diagonal1-check">primary diagonal \</label><br>
                    <input type="checkbox" name="diagonal2-check" id="diagonal2-check" checked>
                    <label for="diagonal2-check">secondary diagonal /</label><br>
                </div>
                <div class="horizontal">
                    <input type="checkbox" name="mirror-check" id="mirror-check">
                    <label for="mirror-check">Mirror mode</label><br>
                    <input type="checkbox" name="torus-check" id="torus-check">
                    <label for="torus-check">Allow wrap around</label><br>
                    <input type="checkbox" name="gravity-check" id="gravity-check" checked>
                    <label for="gravity-check">Enable gravity</label><br>
                </div>
            </div>

            <div class="break"></div>
            <div class="horizontal-container">
                <div class="horizontal">
                    <input type="checkbox" name="popout-check" id="popout-check">
                    <label for="popout-check">Pop-out mode</label><br>
                </div>
            </div>
            <div class="horizontal-container" id="popout-div" style="display: none">
                <div class="horizontal">
                    <input type="checkbox" name="bottom-only-check" id="bottom-only-check" checked>
                    <label for="bottom-only-check">Only remove from bottom</label><br>
                </div>
                <div class="horizontal">
                    <input type="checkbox" name="popout-enemies-check" id="popout-enemies-check" checked>
                    <label for="popout-enemies-check">Enable popping out enemy coins</label><br>
                </div>
            </div>
            <div class="break"></div>

            <div class="horizontal-container">
                <div class="horizontal">
                    <input type="checkbox" name="portal-check" id="portal-check">
                    <label for="portal-check">Portal mode</label><br>
                </div>
            </div>
            <div class="horizontal-container" id="portal-div" style="display: none">
                <div class="horizontal">
                    <p>Set size: </p>
                    <input id="setSize" type="number" min="1" value="2">
                </div>
                <div class="horizontal">
                    <p>No. sets: </p>
                    <input id="setAmount" type="number" min="1" value="2">
                </div>
                <div class="horizontal">
                    <p>Instability factor: </p>
                    <input id="instability" type="number" value="3">
                </div>
            </div>
            <hr>

            <!-- Rules/explanation -->
            <div>
                <h4>Connect 4</h4>
                <p>
                    Connect 4 is a 2 player game where players alternate in sliding a coin into a grid. The first player to get 4 coins in a row of their own color wins. This game is quite simple, and therefore not too interesting (it has been solved for years; player 1 always wins when playing optimally).<br>
                    To spice things up, you can play around with the game options found above. These are the options currently available:
                </p>
                <ul>
                    <li><p>
                        <b>No. rows / No. columns</b><br>
                        This option changes the dimensions of the board. The board is programmed to always try to be 1200 pixels wide, but if this is too small for your board, you can use the <i>Toggle board size</i> button to make it fill as much room as possible.
                    </p></li>
                    <li><p>
                        <b>No. players</b><br>
                        How many people are playing? This can range from 1 to 11. Why 11? Because I only picked 11 colors for the coins. If you want to play with even more players let me know, I'll simply add a lot more colors if that's the case.
                    </p></li>
                    <li><p>
                        <b>Win amount</b><br>
                        This option changes how many consecutive coins are needed to win. The default is 4, but any positive value is allowed here (yes, even 1).
                    </p></li>
                    <li><p>
                        <b>Direction toggles</b><br>
                        These 4 checkboxes can be used to enable/disable winning in a certain direction. For example, if only horizontal is checked, you can only win with a horizontal row of coins. Getting 4 in a row in any other direction won't do anything.
                    </p></li>
                    <li><p>
                        <b>Mirror mode</b><br>
                        With mirror mode active, the edges of the board are like a mirror: a 4 in a row can bounce from it and continue in another direction. The new direction is just like a real mirror would work. Careful with horizontal and vertical lines that touch an edge, as they only need to be half+1 the size as before!
                    </p></li>
                    <li><p>
                        <b>Allow wrap around</b><br>
                        Enabling this makes the board work as a torus. This means that opposing edges are connected. Imagine wrapping the board around a cilinder, so the leftmost and rightmost columns touch. You could also imagine a copy of the board being placed all around the board, and you can get 4 in a row by using the coins in a neighbouring board.<br>
                        More specifically, a horizontal line continues on the other side in the same row, a vertical line continues in the same column. Diagonal lines continue one row/column along from the previous coin, and thus do not immediately wrap on themselves.
                    </p></li>
                    <li><p>
                        <b>Enable gravity</b><br>
                        Normally, a coin can only be placed in the bottommost empty slot of each column. Disabling gravity is like placing the board flat on the ground, you can now put coins in every empty slot. Combining this with allowing wrap around wins and multiple players makes for some interesting games!
                    </p></li>
                    <li><p>
                        <b>Pop-out mode</b><br>
                        If enabled, a player can remove a coin from the board rather than placing in a new one. This comes with a few options: only being allowed to remove your own coins, and only being allowed to remove coins from the bottom row. Once a coin is removed, all coins above will fall down (assuming gravity isn't disabled), and create new possibilities to connect 4 coins.
                    </p></li>
                    <li><p>
                        <b>Portals</b><br>
                        This whack gamemode creates a bunch of portals, which connect various cells that are far away from each other. Each portal belongs to a set, and every portal in a set is connected to every other portal in that set. This is denoted by a number in the cell. How many sets there are and how big a set is, is up to you.<br>
                        In order to use a portal, you need to control both portals you are trying to use (the rest of the set doesn't matter). A line of coins can go in one portal, and come out the other, continuing in the same direction. That is, if you go in horizontally from the left in one portal, you continue horizontally on the right side. Both portals count as one coin, combined. If you loop around and enter a portal from the same set again, you create an infinite loop and win automatically.<br>
                        Finally, the instability factor indicates how often the portals shift around. Once a certain amount of rounds have passed (one round being everyone playing one coin), all portals randomly change. If this now causes a win, that player wins immediately (if multiple players now win, the game chooses whatever winner it finds first). Setting the instability factor to a negative number prevents the portals from changing.
                    </p></li>
                </ul>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
</body>
</html>