<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="static/assets/scripts/connect4.js"></script>

    {% include 'includes/head.html' %}

    <link rel="stylesheet" href="static/assets/stylesheets/connect4.css"/>

    <title>Connect 4</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">

            <div id="game_field">
                <table id="game_table"></table>
            </div>
            <hr>

            <!-- variables -->
            <h4>Game options</h4>
            <p><i>Note: changing any of these will immediately reset the board.</i></p>
            <div class="horizontal-container">
                <div class="horizontal">
                    <p>No. rows: </p>
                    <input id="amount_of_rows" type="number" min="1">
                </div>
                <div class="horizontal">
                    <p>No. columns: </p>
                <input id="amount_of_columns" type="number" min="1">
                </div>
                <div class="horizontal">
                    <p>No. players (max 11): </p>
                <input id="playerCount" type="number" min="1" max="11">
                </div>
                <div class="horizontal">
                    <p>Win amount: </p>
                    <input id="winAmount" type="number" min="1">
                </div>
                <div class="horizontal">
                    <input type="checkbox" name="horizontal-check" id="horizontal-check" checked>
                    <label for="horizontal-check">horizontal</label><br>
                    <input type="checkbox" name="vertical-check" id="vertical-check" checked>
                    <label for="vertical-check">vertical</label><br>
                    <input type="checkbox" name="diagonal1-check" id="diagonal1-check" checked>
                    <label for="diagonal1-check">primary diagonal \</label><br>
                    <input type="checkbox" name="diagonal2-check" id="diagonal2-check" checked>
                    <label for="diagonal2-check">secondary diagonal /</label><br>
                </div>
                <div class="horizontal">
                    <input type="checkbox" name="torus-check" id="torus-check">
                    <label for="torus-check">Allow wrap around: </label><br>
                </div>
            </div>
            <hr>

            <!-- game info -->
            <h4>Game info</h4>
            <div class="horizontal-container">
                <div class="horizontal">
                    <div id="player">Current player</div>
                </div>
                <div class="horizontal">
                    <div id=timer>00:00</div>
                </div>
                <div class="horizontal">
                    <button onclick="reset_game()" id="reset">reset game</button>
                </div>
                <div class="horizontal">
                    <div id="notifications"></div>
                </div>
                <div class="horizontal">
                    <button onclick="changeBoardSize()">Toggle board size</button>
                </div>
            </div>

            <hr>

        </div>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>