<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}

    <title>FAQ</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Frequently asked questions</h1>

            <h4>Why is the website named "Lekkerveld"?</h4>
            <p>It's an inside joke.<br>
                My student dorm is called <i>Lerkeveld</i>. It's quite large, and we even had things like Lerkeveld hoodies. One day, a friend of mine at uni points at my hoodie and asks "What's Lekkerveld?". We've referred to it as Lekkerveld ever since.
            </p>

            <h4>Beep Boop</h4>
            <p>This is a template answer.</p>
        </div>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>