<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}

    <title>FAQ | Lekkerveld</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Frequently asked questions</h1>

            <h4>Why is the website named "Lekkerveld"?</h4>
            <p>
                It's an inside joke.
            </p>

            <h4>Beep Boop</h4>
            <p>This is a template answer.</p>

            {% include 'includes/footer.html' %}
        </div>
    </div>
</body>
</html>