<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <script type="text/javascript" src="static/scripts/username.js"></script>
    <script type="text/javascript" src="static/scripts/bingo.js"></script>
    <link rel="stylesheet" href="static/stylesheets/bingo.css"/>

    <title>Pokemon bingo generator | Lekkerveld</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Bingo card generator</h1>

            <div id="inputs">
                <table>
                    {% for i in 'abcde' %}
                        <tr>
                            {% for j in 'abcde' %}
                                <td class="input-td">
                                    {% include 'includes/bingo-options.html' %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <div class="input-td" id="mass-changer">
                    <p>Change all squares at once:</p>
                    {% include 'includes/bingo-options.html' %}
                </div>
            </div>
            <div id="buttons">
                <button id="save-inputs" onclick="saveInputs()">Save inputs</button>
                <button id="load-inputs" onclick="loadInputs()">Load inputs</button>
                <button id="generate" onclick="requestBingoCard()">Generate!</button>
                <button id="save-board" onclick="saveBoard()">Save board</button>
                <button id="load-board" onclick="loadBoard()">Load board</button>
            </div>

            <div id="bingo-div"></div>

            <hr>

            <p>Use this bingo card generator to generate custom bingo cards for shiny hunting (or other challenges) in Pokemon.<br>
                Each slot has 4 options:
            </p>
                <ul>
                    <li>Which Pokemon (or free slot) should be used?</li>
                    <li>From which game should the sprite come from?</li>
                    <li>Is the Pokemon shiny or not?</li>
                    <li>Is the Pokemon completed or not?</li>
                </ul>
            <p>
                If a random game has no sprite for the chosen Pokemon, the game is rerolled. Similarly, if a random Pokemon has no sprite in a chosen game, the Pokemon will be rerolled. If an incompatible Pokemon/game pair is inputted, the game is randomized.<br>
                The randomizer checks for duplicate Pokemon*, but other forms are seen as other Pokemon. Shiny/non-shiny is considered the same Pokemon. Additionally, the randomizer will always choose the base form (the first one).<br>
                To download the generated bingo card, use "right-click > save image as...". <br>
                <br>
                * The dupe check checks only up until that square, so if a later square has a chosen pokemon, it might be the same Pokemon anyway.<br>
                <br>
                You can use the "Save inputs" button to store the current options you have selected. At a later time, you can use the "Load inputs" option to immediately load those same options back in. This way you can make adjustments later, like adding a "completed" stamp to a Pokemon.<br>
                The board is stored as a cookie in local storage, so make sure you have enabled cookies. If you delete your cookies, you will also delete your saved board. Additionally, the cookie expires after 365 days, but this can easily be reset by first loading and then saving the board, as this resets the cookie.<br>
                The "Save board" button saves the bingo card, so randomized Pokemon are saved rather than a "random" input. These are stored on server.
            </p>

            <hr>

            <p>Upload a bingo card you previously generated to change the settings above to reflect this card.<br>
                If there is a "completed" stamp on a pokemon, it will not be detected, and a free space will be used.<br>
                This can take a bit over half a minute to process.

                <input type="file" id="card-to-input" name="card" accept=".png">
                <button onclick="cardToInput()" class="reverse-engineer-button">Reverse engineer card</button>
            </p>

            <hr>

            {% include 'includes/id.html' %}

            <hr>

            <p>Planned future features:
                <ul>
                    <li>Gen 6-9 (I couldn't find a library of images from these games, so I made this page with just gen 1-5 for the moment)</li>
                    <li>Allowing uploading custom images</li>
                    <li>Allowing multiple images per square (e.g. more than one pokemon, or an icon indicating a particular method like eggs)</li>
                    <li>Custom bingo dimensions</li>
                </ul>
                If you want a particular feature, let me know so I can make it a priority. You can also implement it yourself and make a pull request on Github.
            </p>

            <!-- TODO
                ON SECOND PAGE, TRACK SHINY HUNTS
                OPTION TO CREATE NEW HUNT, WITH/WITHOUT CERTAIN INFO (POKEMON (REQUIRED), GAME, METHOD, DATE STARTED (GENERATED AUTOMATICALLY IF LEFT BLANK), ENCOUNTER COUNT (DEFAULT: 0)...)
                ALL PARAMETERS STORED IN BACKEND, EVERY 5 MINUTES AUTOSAVE + BUTTON TO MANUALLY SAVE
                WHEN PAGE LOADS, FETCH ALL HUNTS AND DISPLAY THEM
                + AND - BUTTON FOR EACH HUNT TO INCREMENT COUNTER
                FINISHED BUTTON (ALLOW UNFINISH IN CASE OF MISCLICK)
                FINISHED HUNTS ARE MOVED IN A TABLE AT BOTTOM OF PAGE, TO CONDENSE THE INFO
                TRACK STATS WHILE HUNTING (MAX ENC PER DAY, CURRENT AVERAGE PER DAY, CHANCE TO GET A SHINY IN THAT MANY ENCOUNTERS, AVERAGE SESSION TIME (?)...)
                WHEN FINISHING HUNT, ALLOW USER TO AUTOMATICALLY UPDATE BINGO CARD (POP UP TO ASK) (FETCH CARD, SEARCH FOR POKEMON IN QUESTION, ADD COMPLETED AND ENCOUNTER COUNT)

                ALL INFO SHOULD BE KEPT IN A PROPER DATABASE, WITH BACKUPS
                PREVENT OVERLOAD FROM SPAM SAVING/REQUESTS (HOW?)
            -->

            <!-- STUDY RELATED MEMES, BUSSY BUSINESS, SEARCH FOR "req.session.loggedin" -->

            {% include 'includes/footer.html' %}
        </div>
    </div>
</body>
</html>