<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <script type="text/javascript" src="static/scripts/reaction-images.js"></script>
    <link rel="stylesheet" href="static/stylesheets/reaction-images.css"/>

    <title>Reaction images | Lekkerveld</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Reaction images</h1>

            <div id="frontend-random-images"></div>
            <div id="buttons">
                <button onclick="rerollImage()">Get a new image</button>
                <select id="imgtype" name="imgtype">
                    <option name="ANGERY">ANGERY</option>
                    <option name="bait">bait</option>
                    <option name="crusader memes">crusader memes</option>
                    <option name="F">F</option>
                    <option name="sad">sad</option>
                    <option name="thinking">thinking</option>
                    <option name="wtf">wtf</option>
                </select>
            </div>

            <hr>
            
            <p>
                This page is not meant to be frequently visited, but rather serves as a tutorial to use this feature. The frontend above to get random images is purely for asthetics and experimenting.<br>
                The idea is to have a keyboard shortcut that, when pressed, automatically loads a random image of a particular theme into your clipboard, to be pasted anywhere.<br>
                The images are retrieved from www.lekkerveld.be/get-random-image and placed in your clipboard. To implement this on your own device, make a shell script with the following content, and link a keyboard shortcut to it:<br><br>
                <i>#!/bin/bash<br>
                    curl https://www.lekkerveld.be/get-random-image?\&imgtype=ANGERY | xclip -selection clipboard -target image/png -i</i><br><br>
                imgtype=ANGERY means the image will be from the ANGERY theme. If you want anything else, replace ANGERY with one of the other options.
            </p>

            <hr>
            TODO:
            <ul>
                <li>update tutorial to work for Windows</li>
            </ul>

            {% include 'includes/footer.html' %}
        </div>
    </div>

</body>
</html>