<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <script type="text/javascript" src="static/assets/scripts/wordle.js"></script>
    <link rel="stylesheet" href="static/assets/stylesheets/wordle.css"/>

    <title>Unfair Wordle</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div id="page-container"> 
        <div id="page-content">
            <h1>Unfair Wordle</h1>

            <div id="game_field">
                <table id="game_table"></table>
            </div>

            <div id="keyboard">
                <!-- keyboard -->
            </div>

            <div id="rules">
                <!-- rules -->
            </div>

        </div>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>