
/* variables */
:root {
    --lekkerveld-red: #af261e;
    --bg-blue: #b4d4e7;
    --background: #f6f6f6;
    --button-color: #157ea1;
    --title-blue: #0c62b0;
}

/* Connect 4 */

#page-content{
    overflow: scroll;
}

table{
    border-radius: 2rem;
    background-color: gray;
}

td{
    min-width: 20px;
}

table tr td:first-child::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    min-height: 20px;
    box-sizing: border-box;
 }

input{
    width: 5rem;
    height: 1rem;
}

.horizontal{
    display: inline-block;
    padding: 0 0.5rem;
}

#reset{
    width: fit-content;
}

.highlighted{
    box-sizing: border-box;
}

button{
    width: fit-content;
}