
/* variables */
:root {
    --lekkerveld-red: #af261e;
    --bg-blue: #b4d4e7;
    --background: #f6f6f6;
    --button-color: #157ea1;
    --title-blue: #0c62b0;
}

/* Connect 4 */

#page-content{
    overflow: scroll;
}

table{
    border-radius: 2rem;
    background-color: gray;
}

td{
    min-width: 20px;
    text-align: center;
}

td p{
    font-size: calc();
    height: fit-content;
    margin: 0;
}

input[type=number]{
    width: 5rem;
    height: 1rem;
}

#reset{
    width: fit-content;
}

.inputable, .popoutable{
    box-sizing: border-box;
}

button{
    width: fit-content;
}

