td{
    height: 6rem;
    width: 6rem;
    border: 5px solid gray;
    font-size: 3rem;
    font-weight: 900;
}

td p{
    align-items: center;
    justify-content: center;
    display: flex;
}


#page-content{
    align-items: center;
    justify-content: center;
}

#notifications{
    width: fit-content;
    height: fit-content;
    position: absolute;
    background-color: #505050;
    border-radius: 1rem;
}

#notifications p{
    color: #f6f6f6;
    padding: 2rem;
    font-size: larger;
}