td{
    height: 4rem;
    width: 4rem;
    border: 4px solid gray;
    font-size: 2rem;
    font-weight: 900;
}

td p{
    align-items: center;
    justify-content: center;
    display: flex;
}


#page-content{
    align-items: center;
    justify-content: center;
}

button:not(#reset){
    min-width: fit-content;
    width: 3rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0.5rem 0.2rem 0 0;
}

#notifications{
    width: fit-content;
    height: fit-content;
    position: absolute;
    background-color: #505050;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notifications button{
    padding: 1rem;
    margin: 0 1rem 0 0;
}

#notifications p{
    color: #f6f6f6;
    padding: 2rem;
    font-size: larger;
}

#keyboard{
    display: flex;
    align-items: center;
    flex-direction: column;
}